.todos {
    border-radius: 15px;
    background: #004b49;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d470a2;
}

.todos h1 {
    font-size: 2.5rem;
}