.todos {
    border-radius: 15px;
    background: #004b49;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d470a2;
    padding: 0 0 25px;
}

.todos h1 {
    font-size: 3.5rem;
    color: #d1237a;
    margin-bottom: 0px;
}

.todos ul li {
    list-style-type: none;
    margin-left: -35px;
    font-size: 1.6rem;
}

.todos form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}